{% extends 'base.html' %}

{% block title %}About{% endblock %}
{% block content %}
<main>
    <div class="container">
        <h1 class="text-center mb-4">About EagleEye Telco</h1>
        <p>EagleEye is a state-of-the-art network topology and alarm visualization tool designed to provide unparalleled
            insight into telecommunications networks. With its intuitive interface and powerful analytical capabilities,
            EagleEye Telco enables network operators to monitor, analyze, and manage their networks with ease.</p>

        <h2 class="mt-5">Key Features:</h2>
        <ul>
            <li>Interactive visualization of network topology and connections</li>
            <li>Real-time monitoring and alerting for network faults</li>
            <li>Robust traffic analysis tools for proactive fault detection</li>
            <li>Integration with service management tools and SIEM systems</li>
            <li>Adherence to international network standards</li>
        </ul>

        <h2 class="mt-5">Mission Statement:</h2>
        <p>Our mission at EagleEye is to empower telecommunications companies with the tools they need to build and maintain
            reliable, efficient, and secure networks. We are committed to delivering innovative solutions that meet the
            evolving needs of our customers and contribute to the advancement of the telecommunications industry.
        </p>

        <h2 class="mt-5">Contact Us:</h2>
        <p>If you have any questions or inquiries, please contact us at <a href="mailto:info@eagleeye.com">info@eagleeye.com</a>.</p>
    </div>
</main>
{% endblock %}
