{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'images/icon.ico' %}" type="image/x-icon">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">EagleEye</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <div class="mobile-container">
                            <div class="topnav">
                                <p class="nav-link" onclick="telcoNavbar()">Telco</p>
                                <div id="telcoLinks" style="display: none;">
                                    <a class="nav-link" href="{% url 'node_list' %}">List</a>
                                    <a class="nav-link" href="{% url 'treescan' %}">Tree</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="mobile-container">
                            <div class="topnav">
                                <p class="nav-link" onclick="localNavbar()">Local</p>
                                <div id="localLinks" style="display: none;">
                                    <a class="nav-link" href="{% url 'listscan' %}">List</a>
                                    <a class="nav-link" href="{% url 'treescan' %}">Tree</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
</body>

</html>
